

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500;600;700;800&display=swap')




  
  .poppins-extrabold {
 
    font-weight: 800;
    font-style: normal;
  }
  .anton-regular {
    font-family: "Anton", sans-serif;
  
  }
  

 .font-poppins{
    font-family: 'Poppins', sans-serif;
}
